<div class="">
    <p>Affichage image</p>
    <img src="/assets/ability_cards/BR-Cards-000-Back.jpg" alt="BR back"/>
    <img src="/assets/ability_cards/BR-Cards-001-Trample.jpg" alt="BR back"/>

    <p>Import all cards</p>

    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="col">#</th>
                <th class="col">Nom</th>
                <th class="col">Role</th>
                <th class="col">Level</th>
                <th class="col">filename</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let card of this.cards; let i = index ">
                <td>{{card.cardnumber}}</td>
                <td>{{card.name}}</td>
                <td>{{card.role}}</td>
                <td>{{card.level}}</td>
                <td>{{card.filename}}</td>
            </tr>
        </tbody>
    </table>

</div>
