<div class="">
    <button class="col-sm-2 btn btn-default" (click)="importAllCards()">Import des cartes</button>
</div>

<div class="">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="col">#</th>
                <th class="col">Nom</th>
                <th class="col">Role</th>
                <th class="col">Level</th>
                <th class="col">Nom image</th>
                <th class="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let card of this.cards; let i = index ">
                <td>{{card.cardnumber}}</td>
                <td>{{card.name}}</td>
                <td>{{card.displayRole()}}</td>
                <td>{{card.level}}</td>
                <td>{{card.filename}}</td>
                <td><img class="resize" src="/assets/ability_cards/{{card.filename}}" alt="BR Trample" width="360" height="504"/></td>
            </tr>
        </tbody>
    </table>
</div>
