<header class="row">
  <h1 class="col-sm mb-0">
    <a [routerLink]="''" class="text-white">{{title}}</a>
  </h1>
</header>

<nav class="row">
  <div class="col-sm navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link text-white" routerLink="">Gloomhaven DM</a></li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="freeview">Mes decks</a></li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="freeview">Liste des decks</a></li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="cards-list">Liste des cartes</a></li>
      </ul>
  </div>
</nav>

<article class="row bg-white">
  <router-outlet></router-outlet>
</article>

<footer class="row bg-white">
  <div class="col-sm">
      <p>Footer</p>
  </div>
</footer>
